<?xml version="1.0" encoding="UTF-8"?>
<module>
	<grants />
	<permissions>
		<permission action="procMessageAdminInsertConfig" target="root" />
	</permissions>
	<actions>
		<action name="dispMessage" type="view" index="true" />
		<action name="dispMessageAdminConfig" type="view" admin_index="true" />
		<action name="procMessageAdminInsertConfig" type="controller" />
		<action name="getMessageAdminColorset" type="model" />
	</actions>
</module>
